.header {
  border-bottom: 1px blue solid;
  border-color: #EEE657;
  width: 100%; }
  .header h1 {
    margin: 0;
    color: #2C82C9; }

.navbar {
  list-style-type: none;
  width: 100%;
  padding: 0; }
  .navbar li {
    text-align: center;
    width: 100%;
    min-height: 45px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0; }
    .navbar li a {
      text-decoration: none;
      color: white;
      font-size: 1.2em;
      font-weight: bold; }
    .navbar li:nth-child(5n+1) {
      background-color: #2C82C9; }
    .navbar li:nth-child(5n+2) {
      background-color: #2CC990; }
    .navbar li:nth-child(5n+3) {
      background-color: #EEE657; }
    .navbar li:nth-child(5n+4) {
      background-color: #FCB941; }
    .navbar li:nth-child(5n+5) {
      background-color: #FC6042; }
  @media screen and (min-width: 400px) {
    .navbar li {
      width: 50%; } }
  @media screen and (min-width: 600px) {
    .navbar li {
      width: 33.333333%; } }
  @media screen and (min-width: 900px) {
    .navbar li {
      width: 20%; } }
  .navbar:before, .navbar:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .navbar:after {
    clear: both; }

.search {
  background-color: #FCB941;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px; }
  .search .input-search, .search input[type='submit'] {
    float: left;
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .search input[type='submit'] {
    background-color: #2CC990;
    border-color: #27b481;
    color: white; }
  .search a {
    text-align: center; }
  .search:before, .search:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .search:after {
    clear: both; }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    .search .input-search {
      width: 48%; }
    .search .input-search:nth-child(2n+1) {
      margin-right: 4%; }
    .search input[type='submit'] {
      width: 100%; } }
  @media screen and (min-width: 900px) {
    .search .input-search[type='number'] {
      width: 20%; }
    .search .input-search, .search input[type='submit'] {
      width: 19%;
      height: 35px;
      margin-bottom: 0; }
    .search .input-search {
      margin-right: 1%; } }

.list-element {
  margin-top: 20px;
  text-align: center; }
  .list-element .element {
    text-align: center;
    border-bottom: solid 1px #FCB941;
    display: inline-block;
    margin-right: -0.25em;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%; }
    .list-element .element span {
      display: block; }
      .list-element .element span a {
        text-decoration: none; }
    .list-element .element:before, .list-element .element:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .list-element .element:after {
      clear: both; }
    .list-element .element .element-apercu {
      max-width: 80%;
      height: auto; }
    .list-element .element .element-titre, .list-element .element .element-titre a {
      font-size: 1.2em;
      font-weight: bold;
      color: #2C82C9; }
    .list-element .element .element-titre a:active {
      color: #EEE657; }
    .list-element .element .element-prix {
      font-size: 1.4em;
      font-weight: bold;
      color: #FC6042; }
    .list-element .element .element-category {
      font-style: italic; }
    .list-element .element .element-lieu {
      font-weight: bold; }
  @media screen and (min-width: 500px) {
    .list-element .element {
      width: 50%; } }
  @media screen and (min-width: 1000px) {
    .list-element {
      text-align: left; }
      .list-element .element {
        width: 100%;
        text-align: left; }
        .list-element .element .element-apercu {
          float: left;
          max-width: 10%;
          margin: 10px; } }

.footer {
  text-align: center; }
  .footer .autres-liens {
    padding: 0; }
    .footer .autres-liens li {
      list-style-type: none;
      font-size: 1.4em;
      margin-bottom: 10px; }
      .footer .autres-liens li a {
        color: #FCB941; }
    @media screen and (min-width: 400px) {
      .footer .autres-liens li {
        font-size: 1.2em;
        display: inline;
        margin-bottom: 0;
        margin-right: 10px; } }

h1 {
  color: #2C82C9; }

fieldset {
  max-width: 700px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto; }
  fieldset label, fieldset input, fieldset select, fieldset textarea, fieldset i {
    float: left;
    width: 100%; }
  fieldset input, fieldset select {
    height: 40px; }
  fieldset input, fieldset select, fieldset textarea {
    margin-bottom: 15px; }
  @media screen and (min-width: 700px) {
    fieldset label {
      width: 25%;
      text-align: left; }
    fieldset label:after {
      content: " : "; }
    fieldset input, fieldset select, fieldset textarea {
      width: 70%; } }
  fieldset .bouton {
    background-color: #2C82C9;
    border: 2px solid #2774b4;
    text-decoration: none;
    color: white;
    padding: 12px;
    text-align: center;
    box-sizing: border-box; }
  fieldset .bouton:active {
    border-color: #FCB941; }
  fieldset:before, fieldset:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  fieldset:after {
    clear: both; }

.detail .container-float .carre-float {
  width: 100%;
  float: left;
  max-width: 400px;
  margin-right: 2%; }
  .detail .container-float .carre-float img {
    box-sizing: border-box; }
  .detail .container-float .carre-float .grande {
    max-width: 100%;
    height: auto;
    border: 1px solid #2CC990; }
  .detail .container-float .carre-float .mini {
    border: 1px solid #FCB941;
    width: 49%;
    height: auto;
    float: left;
    margin-bottom: 2%; }
    .detail .container-float .carre-float .mini:nth-child(2n+1) {
      margin-right: 2%; }
  .detail .container-float .carre-float:before, .detail .container-float .carre-float:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .detail .container-float .carre-float:after {
    clear: both; }
  @media screen and (min-width: 600px) {
    .detail .container-float .carre-float {
      width: 48%; } }
.detail .container-float:before, .detail .container-float:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }
.detail .container-float:after {
  clear: both; }
.detail .container-float .liens {
  float: left; }
  .detail .container-float .liens a {
    text-decoration: none;
    color: #2C82C9;
    font-weight: bold;
    text-align: left; }
  .detail .container-float .liens a:hover {
    color: #2CC990; }
.detail p {
  font-size: 1.1em; }
.detail .bouton {
  background-color: #2C82C9;
  border: 2px solid #2774b4;
  text-decoration: none;
  color: white;
  padding: 12px;
  text-align: center;
  box-sizing: border-box; }
.detail .bouton:active {
  border-color: #FCB941; }
.detail .bouton {
  width: 100%;
  display: block; }
  @media screen and (min-width: 600px) {
    .detail .bouton {
      width: 200px; } }

body {
  background-color: whitesmoke;
  font-family: "Calibri", "Arial";
  padding: 0 2%; }

/*# sourceMappingURL=main.css.map */
