$hauteur-champs: 40px;

fieldset
{
    max-width: 700px;
    width: 100%;
    text-align: center;
    box-sizing:border-box;
    margin-left:auto;
    margin-right:auto;
    

    label, input, select, textarea,i
    {
        float:left;
        width: 100%;
    }

    input, select
    {
        height: $hauteur-champs;
    }

    input, select, textarea
    {
        margin-bottom: 15px;
    }
    
    
        
    
    
    @media screen and (min-width:700px)
    {
        
        
        label
        {
            width: 25%;
            text-align: left;
        }
        
        label:after
            {
            content:" : ";
        }
        
        input, select, textarea
        {
            width:70%;
        }
    }
    
    

    @include bouton($couleur-1);
    @include clearfix();

}